.barStyle {
	display: flex;
	width: calc(100% - 250px);
	background: #f89c2a;
	border: 3px solid #ccc;
	padding: 30px;
	margin-left: 225px;
	margin-right: 25px;
	font-size: x-large;
	font-weight: bold;
}

.movies {
	display: flex;
	column-gap: 25px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.titleCards {
	overflow-x: auto;
	margin-left: 225px;
	margin-right: 25px;
}

.titleCards h2 {
	display: flex;
	justify-content: center;
}
