.titleMain {
	margin-left: 200px;
}

.titlePhoto {
    display: flex;
    height: 60vh;
}

.titleInfo {
	display: flex;
    height: 40vh;
}

.showPhoto {
    width: 1280px;
}

.showOverview {
    text-align: center;
    padding: 6em;
}

.showOverview p {
    font-size: larger;
}