/* .titleMain {
	margin-left: 200px;
}

.titlePhoto {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.titleInfo {
	display: flex;
    height: 40vh;
    justify-content: center;
    margin: 20px;
}

.titleInfo p {
    margin-left: 20px;
    align-content: center;
    padding-top: 50px;
    font-size: large;
    font-weight: bold;
}

.showOverview {
    margin: 0;
    text-align: center;
    padding: 6em;
    width: calc(40% - 200px);
}

.showOverview p {
    font-size: larger;
    margin: 0;
}

.showOverview h1 {
    margin: 0
}

.showPhoto {
    object-fit: cover;
    width: calc(60% - 200px);
} */

.titlePhoto {
    display: flex;
    width: 100%;
    height: 100%;
}

.showPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -500px 0 400px -200px #000000;
}

.photoGradient {
    width: 60%;
    position: relative;
}

.showOverview {
    padding: 200px 20px 20px 20px;
    width: 40%;
    text-align: center;
}

.showOverview p {
    font-size: larger;
}

.showStats {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .titlePhoto {
        flex-direction: column;
    }

    .photoGradient {
        width: 100%;
        height: 100%;
    }

    .imageShadow {
        box-shadow: inset 0 -300px 200px -100px #000000;
    }

    .showPhoto {
        height: calc(100% + 6px );
    }

    .showOverview {
        width: 100%;
        padding: 100px 100px 100px 220px;
    }
}